{% extends 'base.html.twig' %}

{% block title %} GOT houses !{% endblock %}

{% block body %}
<main>
        <div class="wrapper">
            <ul class="houses-list">
                {% for house in allHouses  %}
                    <li class="house-logo" style="background:#{{ house.colour }};">
                        <a href="{{ path('app_home_house', {'index' : house.id }) }}">
                            <img src="{{ asset('img/houses/' ~ house.image) }}" alt="{{ house.name }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}