{% extends 'base.html.twig' %}

{% block title %}Game Of Thrones - maison {{ theHouse.name }} !{% endblock %}

{% block body %}

<main>
    <div class="wrapper">
                <h2>{{ theHouse.name }}</h2>
    
   

                 {% include '_listCharacters.html.twig' with {'allCharacters': theHouse.characters } %}


    </div>
</main>

{% endblock %}
