{% extends 'base.html.twig' %}

{% block title %}Game Of Thrones !{% endblock %}

{% block body %}
<main>
    <div class="wrapper">

                {% include '_listCharacters.html.twig' with {'allCharacters': allCharacters } %}

    </div>
</main>
{% endblock %}
