{% extends 'base.html.twig' %}

{% block title %}{{ theTitle.name }} !{% endblock %}

{% block body %}

<main>
    <div class="wrapper">
                <h2>{{ theTitle.name }}</h2>
    
        <ul class="characters-list">
    
            {% for character in theTitle.characters %}
                {% block list %}
                    {% include 'listCharacters.html.twig' %}
                {% endblock %}
            {% endfor %}
           
        </ul>        
    </div>
</main>

{% endblock %}
