{% extends 'base.html.twig' %}

{% block title %}{{ theTitle.name }} !{% endblock %}

{% block body %}

<main>
    <div class="wrapper">
                <h2>{{ theTitle.name }}</h2>

                    {% include '_listCharacters.html.twig' with {'allCharacters': theTitle.characters } %}
            
    </div>
</main>

{% endblock %}
