{% extends 'base.html.twig' %}

{% block title %} GOT titles !{% endblock %}

{% block body %}
<main>

        <div class="wrapper">

            <ul class="houses-list">
                {% for title in allTitles  %}
                    <li class="house-logo name btn-outline-light" >
                        <a  href="{{ path('app_home_title', {'index' : title.id }) }}">
                            {{ title.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}