{% extends 'base.html.twig' %}

{% block title %}New House{% endblock %}

{% block body %}
<div class="wrapper-form" style="background: rgb(9, 163, 150);">
    <h1>Create new House</h1>

    {{ include('backoffice/house/_form.html.twig') }}

    <a class="btn btn-outline-light"  href="{{ path('app_backoffice_house_index') }}">back to list</a>
{% endblock %}
