{% extends 'base.html.twig' %}

{% block title %}New Character{% endblock %}

{% block body %}
<div class="wrapper-form" style="background: rgb(9, 163, 150);">
    <h1>Create new Character</h1>

    {{ include('backoffice/character/_form.html.twig') }}

    <a class="btn btn-outline-light" href="{{ path('app_backoffice_character_index') }}">back to list</a>
</div>
{% endblock %}
