<!DOCTYPE html>
<html lang="fr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Game of Thrones!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Our custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>

{# todo gérer les 2 nav : nav_log anonyme et user pour front / nav_back pour manager et admin  #}
{# done le choix de la navigation si on est sur la partie back 
        {% dump(app.request.pathinfo) %}
        "/backoffice/admin" #}
{% if app.request.pathinfo starts with '/backoffice' %}
{% include 'partials/_nav_back.html.twig' %}
{% else %}
{% include 'partials/_nav_log.html.twig' %}
{% endif %}
    <header>
        <h1>Game of Thrones & Co</h1>
             
        <div class="separator"></div>
    </header>
        {% block body %}{% endblock %}

        {# ! si on mets pas le scipt JS-bootstrap les navs dropdown  ne fonctionne pas ! #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>

